---
import '../styles/main.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Joe Murphy</title>
	</head>
	<body>
    <header>
      <h1>Joe Murphy</h1>
      <p>Strategic Design</p>
    </header>
		<p>
			I explore human insights through participatory research and co-design methods to help teams and organizations create meaningful, user-centered solutions. I facilitate workshops, strategy sessions, and collaborative design processes that enhance team alignment, improve user experiences, and drive innovation.
		</p>

		<h2>What I Do</h2>
		<ul>
			<li><h3>Uncover user needs & insights</h3><p>Using participatory research to inform design decisions.</p></li>
			<li><h3>Facilitate co-design workshops</h3><p>Helping teams collaborate, innovate, and develop strategies together.</p></li>
			<li><h3>Support sustainability & well-being</h3><p>Designing for long-term impact on people and the planet.</p></li>
		</ul>

		<p>
			I believe the best solutions come from understanding people deeply and designing with them, not just for them. Let’s connect and explore new ways to create meaningful experiences!
		</p>
	</body>
</html>
